html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: antiquewhite;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

.display {
  display: block;
}

header {
  text-align: center;
}

.nav li {
  margin-left: -1em;
  margin-right: 0.5em;
  align-self: center;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
}

.nav-child {
  padding-left: 0.5em;
  background-color: #000080;
  margin-top: 0;
  border: solid;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}

.right-nav li {
  margin-bottom: 0.3em;
}

.right-nav li:nth-child(2n) {
  border-top: solid;
  border-bottom: solid;
}

.right-nav {
  flex-direction: column;
  width: 35%;
  padding-left: 1em;
  border-left: solid;
  font-size: 0.9em;
  font-weight: 400;
}

.date {
  padding: 0.5em;
}

.main {
  width: 80%;
  margin: auto;
}

.main-container {
  border: solid rgb(209, 209, 207);
  background-color: rgb(117, 116, 116);
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5em;
}

.d-flex {
  display: flex;
}

.main-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container .rows {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-left: 0;
  padding-top: 0.5em;
  margin-left: -2.3em;
}

li .title-span {
  display: grid;
  grid-template-columns: auto auto;
  word-break: normal;
  width: 100%;
  border: solid;
  border-radius: 20% 10%;
  background-color: #000080;
  height: 2em;
  margin-left: 0;
  padding: 0.3em 0.2em 0;
}

.remove-btn {
  color: antiquewhite;
  background-color: rgba(216, 72, 72, 0.2);
  margin-left: -2.4em;
  height: 2em;
  margin-right: 0.2em;
}

.remove-btn:hover {
  color: rgb(219, 40, 40);
}

.remove-btn:active {
  background-color: rgba(209, 25, 25, 1);
  color: antiquewhite;
}

.form-cont {
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

form {
  width: 90%;
}

form input {
  width: 100%;
  height: 2em;
  border: none;
}

form input:focus {
  border: solid rgb(107, 107, 105);
  border-radius: 0.2em;
  outline: none;
}

form button {
  float: right;
  width: 25%;
  height: 2em;
  background-color: rgb(11, 238, 11);
  color: rgb(250, 245, 245);
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 0.2em;
}

form button:active {
  transform: translate(10%);
}

.contact-info {
  margin: auto;
  width: 90%;
}

footer {
  width: 100%;
  border: solid;
  padding: 0 1em;
  background-color: #000080;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 400px) {
  .nav-child {
    font-size: x-large;
  }

  .main-container ul {
    flex-direction: row;
  }

  li .title-span {
    margin-top: -0.3em;
    margin-bottom: 0.5em;
  }

  .remove-btn {
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 780px) {
  .nav-child {
    height: 3em;
    font-size: xx-large;
  }

  .nav a:hover {
    color: rgb(73, 72, 72);
  }

  .right-nav {
    flex-direction: row;
    justify-content: space-around;
    border: none;
    width: 35%;
    font-size: 0.6em;
    font-weight: 400;
  }

  .right-nav li {
    margin-bottom: 0.3em;
    padding: 0 2em;
  }

  .right-nav li:nth-child(2n) {
    border: none;
    border-left: solid;
    border-right: solid;
  }
}
